<div class="col col-1" style="white-space: nowrap;">{{ include.event.name }}</div>
<div class="col col-1-2" data-label="Date" style="direction: rtl; text-align: center; display: flex; justify-content: center; align-items: center;">
    <span>
    {% if include.event.display_date %}
    {{ include.event.display_date }}
    {% else %}
    {{ include.event.date | date: site.dateformat }}
    {% endif %}
    {% unless include.event.hide_time %}
    {% if include.event.display_time %}
    {{ include.event.display_time }}
    {% else %}
    {{ include.event.date | date: "%H:%M" }}
    {% endif %}
    {% endunless %}
    </span>
</div>
<div class="col col-2" data-label="Description">{{ include.event.description }}</div>